@font-face {
  font-family: "Shantell_Sans-Bouncy_Bold";
  src: url("./Shantell_Sans-Bouncy_Bold.woff2") format("woff2");
}

.search-text {
  background-color: red;
  font-family: "Shantell_Sans-Bouncy_Bold";
}
